/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body {
  font-family: "Roboto", sans-serif;
}
.body * {
  -webkit-user-select: none;
}

.button {
  display: block;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding: 5px 26px;
}
.button-videos {
  background: #bf9b5d;
}
.button-quote {
  color: #bf9b5d;
  border: 2px solid;
}
.button-submit {
  background: #bf9b5d;
  color: #fff;
  border: 0;
  outline: none;
}

.subSection-quote {
  padding: 3em 0;
  position: relative;
}
.subSection-carousel {
  background: #f0f0ef;
  padding: 3em 0;
}

.menu-main {
  display: flex;
  margin: 60px 0;
}
.menu__item-main {
  flex: 1 1 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
.menu__item-main-logo {
  margin: 0 25px;
}
.menu__item__link {
  list-style: none;
  text-align: center;
}
.menu__item__link-main {
  color: #bf9b5d;
  text-decoration: none;
  text-transform: uppercase;
  transition: font-weight 0.4s ease-in-out;
  font-weight: 100;
}
.menu__item__link-main:hover {
  font-weight: 900;
}
.menu__item__link-main img {
  max-width: 100%;
}
.menu__item__link-footer {
  color: #bf9b5d;
  text-decoration: none;
  line-height: 1.5;
}

.mainQuoteWrapper {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  backdrop-filter: blur(10px);
  background-image: url("../images/man.jpg"), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
}
.mainQuoteWrapper h2 {
  display: block;
  font-size: 300%;
  line-height: 1.2;
}
.mainQuoteWrapper h4 {
  font-size: 200%;
  font-weight: bold;
  line-height: 1.5;
}
.mainQuoteWrapper__button {
  margin-top: 10px;
}

.carousel__wrapper, .carousel__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__body {
  width: 10000px;
  position: relative;
}
.carousel__wrapper {
  position: relative;
  overflow: hidden;
}
.carousel__control {
  font-size: 5em;
  text-decoration: none;
  color: #bf9b5d;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.carousel__item {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel__item img {
  max-width: 100%;
}

.transition {
  transition: 0.7s;
}

.quote__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quote__main {
  font-size: 200%;
  max-width: 80vw;
  color: #535349;
  font-style: italic;
  margin-bottom: 30px;
}
.quote__footnote {
  position: absolute;
  right: 10%;
  bottom: calc(10% + 30px);
  color: #bf9b5d;
}
.quote__footnote h4 {
  font-size: 125%;
}

.footer {
  background: #535349;
  display: flex;
  justify-content: space-around;
  align-items: top;
  padding: 60px 0;
}
.footer__column h4 {
  color: white;
  text-transform: uppercase;
  font-size: 125%;
  line-height: 1.5;
}
.footer__social {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}
.footer__social__item {
  max-height: 30px;
  max-width: 30px;
  margin-right: 15px;
}
.footer__social__item img {
  max-height: 30px;
  max-width: 30px;
  display: block;
}
.footer__form {
  display: flex;
}
.footer__form__subscribeInput {
  padding: 16px;
  margin-right: 5px;
}

/*# sourceMappingURL=index.css.map */
